<!-- blogpost_list.html -->
{% extends 'blog/base.html' %}

{% block title %}Страница новостей{% endblock %}

{% load my_tags %}

{% block content %}
<svg style="display: none;">
    <symbol id="eye" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
    </symbol>
</svg>
<div class="row text-center">
    {% for blog in blogs %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{blog.title|truncatechars:40}}</h4>
            </div>
            <div class="card-body">
                <img src="{{ blog.preview | media_filter }}" class="img-thumbnail"
                     style="max-width: 100; height: auto;" alt="{{ blog.title }}">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>Содержимое: {{blog.content|truncatechars:100}}</li>
                    <li>
                        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
                            <use href="#eye"></use>
                        </svg>
                        {{blog.views_count}}
                    </li>
                </ul>
                <a href="{% url 'blog:blog_detail' blog.pk %}" class="btn btn-secondary" tabindex="-1"
                   role="button" aria-disabled="true">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<! --страницы-- >
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" aria-current="page" href="?page=1">Начало</a>
        </li>
        <li class="page-item">
            <a class="page-link" aria-current="page" href="?page={{ page_obj.previous_page_number }}">
                {{ page_obj.previous_page_number }}
            </a>
        </li>
        {% endif%}
        <li class="page-item active">
            <a class="page-link" aria-current="page" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                {{page_obj.next_page_number }}
            </a>
        </li>
        {% endif%}
    </ul>
</nav>
{% endblock %}