<!-- product_detail.html -->
{% extends 'catalog/base.html' %}

{% block title %}Информация о продукте{% endblock %}

{% load my_tags %}
{% block content %}
<div class="container">
    <h1>{{ product.name }}</h1>
    <img src="{{ product.image | media_filter }}" class="img-thumbnail" style="max-width: 200px; height: auto;"
         alt="{{ product.name }}">
    <p>Описание: {{product.description}}</p>
    <p>Категория: {{category.name}}</p>
    <p>Цена: {{product.price}} руб</p>
    <p>Создан: {{product.created_at|date:"d M Y"}}</p>
    <p>Изменен: {{product.updated_at|date:"d M Y"}}</p>
    <a href="{% url 'catalog:home' %}" class="btn btn-secondary">Назад</a>
    {% if perms.catalog.view_product or user == product.owner %}
        <a href="{% url 'catalog:product_edit' product.pk %}" class="btn btn-primary">Изменить</a>
    {% endif %}
    {% if perms.catalog.delete_product or user == product.owner %}
        <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
    {% endif %}
    {% if perms.catalog.can_unpublish_product %}
        {% if product.publication %}
        <form action="{% url 'catalog:product_unpublish' product.pk %}" method="post">
            {% csrf_token %}
                <button type="submit" class="btn btn-warning">Отменить публикацию</button>
        </form>
        {% else %}
        <p>Снято с публикации</p>
        {% endif %}
    {% endif %}
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
{% endblock %}
